h1 {
    font-size: 65px;
    text-align: center;
    color: forestgreen;
}

p {
    color: red;
    font-size: 16px;
    font-weight: 400;

}

a {
    color: #fff;
    text-decoration: none;
    background: tomato;
    border-radius: 5px;
    margin-top: 20PX;
    padding: 18px 20px;
}

[target="_blank"] {
    width: 160px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.first {
    position: absolute;
    width: 100%;
    height: 669px;
    background-image: linear-gradient(to top, rgb(0 0 0 / 87%), rgb(20 0 0 / 13%));
}

header {
    height: 669px;
    background-image: url("Bangladesh.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 669px;
}

header-content {
    width: 826px;
    height: 320px;
    margin: 0 auto;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.header-content p {
    color: #fff;
    text-align: center;
    margin: 20px 0 40px;
    padding: 0 59px;

}

h2 {
    font-size: 45px;
    font-weight: 700;
}

h3 {
    color: #121212;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.empty-space {
    width: 826px;
    text-align: center;
    margin: 0 auto;
}

.donation-content-area {
    padding: 0 100px;


}

.donation-header {
    padding: 100px 0 30px;

}

.donation-content {
    line-height: 28px;
    color: rgb (112, 112, 112, 1);


}

.donation-amount {
    display: flex;
    justify-content: space-around;
    padding: 0 60px;
    margin-top: 25px;
}

.amount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 130px;
    background: #fafafa;
    border-radius: 5px;
    margin: 20px 5px 10px;
    color: #707070;

}

.amount h2 {
    font-size: 38px;
}

.amount2 {
    border: 2px solid #ff5959;
    background: #ffeeee;
    color: #ff5959;


}